<app-header></app-header>
<div class="register-container">
    <h3>Cadastro de Produtos</h3>
    <form class="register-form" [formGroup]="formProduto">
        <div class="form-field">
            <label class="label-input">Descrição do produto:</label>
            <input type="text" formControlName="descricao" placeholder="Digite a descrição">
        </div>
        <div class="form-field">
            <label class="label-input">Quantidade:</label>
            <input type="number" formControlName="quantidade" placeholder="Digite a quantidade do produto">
        </div>
        <div class="form-field">
            <label class="label-input">Valor do produto:</label>
            <input type="number" formControlName="preco" placeholder="Digite o valor do produto">
            <span class="error" *ngIf="formProduto.value.preco > 0 &&
                formProduto.controls.preco.errors &&
                formProduto.controls.preco.errors.min">
            O valor da do produto deve estar acima de R$ 50,00*</span>
        </div>
        <div class="form-field">
            <label class="label-input">Imagem do produto:</label>
            <input type="text" formControlName="imagem" placeholder="Digite a url">
        </div>
        <div class="action-form">
            <button
            class="cadastrarProduto"
            type="submit"
            (click)="onSubmit()"
            [disabled]="formProduto.invalid">Salvar</button>
        </div>
    </form>
</div>
<app-footer></app-footer>