$cor-padrao-branca: #fff;
$cor-padrao-primaria: #355C7D;
$cor-padrao-textos: #000;
$cor-padrao-border: #DDDDDD;
$cor-padrao-textos-nav: rgba(55, 55, 55, 0.75);
$cor-padrao-cinza-claro: #DDDDDD;
$cor-padrao-cinza-claro-2: #EDEDED;
$cor-box-shadow-padrao: rgba(0,0,0,0.2);
$cor-aviso-perigo: #AD112F;
$cor-padrao-background-input: #fcfcfc;
$cor-padrao-sucesso: green;
$cor-padrao-botao: #355C7D;