<h1>{{ titulo }}</h1>

<div>
    <p (click)="clicouTag()">Descrição do produto: {{ produto.descricao }}</p>
    <p (mouseenter)="passouMouse()">Preço: {{ produto.preco }}</p>
    <p>Quantidade: {{ produto.quantidade }} </p>
    <p>Preço com Desconto: {{ precoComDesconto(produto.preco) }}</p>
    <img src="{{produto.imagem}}" width="250px" height="250px">
    <br>
    <input type="text" (keyup)="pressinouTecla($event)">
    <br>
    <button (click)="obterPrecoDesconto()">Obter Desconto de 10%</button>
    <br>
    <button (click)="comprar()">Comprar</button>
</div>